:root {
  --primary-color: #FFC805;
  --accent-color: #F1BC00;
  --background-color: #f8f9fa;
  --text-color: #0F0F0F;
  --font-family: 'Work Sans', sans-serif;
  --font-size-title-lg: 2.5rem;
  --font-size-title-md: 2rem;
  --font-size-title-sm: 1.5rem;
  --font-size-title-xs: 1.2rem;
  --font-size-body: 1rem;
  --font-size-small: 0.8rem;
  --font-weight-bold: 600;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

header,
nav {
  background-color: var(--primary-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Bootstrap classes */

.form-control {
  border-radius: 25px;
  padding: 10px 20px;
  font-family: var(--font-family);
}

.input-group-append button {
  border-radius: 0 40px 40px 0;
  padding: 12px 20px;
  right: 0;
  background-color: white;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-left: none;
}

.btn {
  border-radius: 25px;
  padding: 10px 20px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: .75rem 2.5rem;
}

.btn:hover {
  color: var(--text-color);
  background-color: var(--accent-color);
  border-color: none;
}

/* Sections */

section {
  margin: 2rem;
}

.section__title {
  padding: 1rem 0 2rem 0;
  text-align: center;
}